{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Clouds Detecting</h1>
        <p class="lead">The website was created for test and demonstrate the program</p>
    </div>
</div>

<!-- TODO -->
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h3>About Me:</h3>
      <div class="fakeimg">Собинников Павел</div>
      <p>Студент 4 курса ВКИ НГУ</p>
      <h3>Some Links:</h3>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="https://vk.com/oblakofff">VK: Pavel Oblakov</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Email: pavelsobinnikov@gmail.com</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Руководство пользователя</h2>
      <h5>Для работы ПС был разработано Web-приложение:</h5>
      <div class="fakeimg"><img src="/templates/images/proramm.png" width="100%" height="70%"></div>
      <p>Главное меню программы, в которой отображается общая база изображений с возможностями: <b>Добавлять, Удалять, Получить результат</b></p>
<!--      <div class="fakeimg"></div>-->
<!--      <div class="fakeimg"></div>-->
<!--      <div class="fakeimg"></div>-->
      <div class="fakeimg"><img src="/templates/images/predict.png" width="100%" height="70%"></div>
      <p>Получение результатов программы.</p>

<!--      <br>-->
<!--      <h2>TITLE HEADING</h2>Some Links-->
<!--      <h5>Title description, Sep 2, 2017</h5>-->
<!--      <div class="fakeimg">Fake Image</div>-->
<!--      <p>Some text..</p>-->
<!--      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>-->
    </div>
  </div>
</div>

{% endblock %}