{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h4>Изображение:</h4>
            <img src="/templates/images/test/{{ filename }}" width="80%" height="80%">

        </div>
        <div class="col-sm-6">
            <h4>Результат работы программы:</h4>
            <img src="/templates/images/pred/{{ filename }}" width="80%" height="80%">
        </div>
    </div>
</div>
<div class="btn-group" role="group">
    <button id="addImage" type="button" class="btn btn-success">Сохранить</button>
    <button id="delImage" type="button" class="btn btn-danger" onclick="return location.href = '/program'">Сбросить</button>
</div>

{% endblock %}