{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <nav class="navbar navbar-light">
              <nav class="nav nav-pills flex-column">
              <a class="navbar-brand" href="#"><h4>Изображения:</h4></a>
                <select multiple class="form-control" id="exampleFormControlSelect2" onchange="doShow(this);">
                {% for file in testList %}
                    <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
                </select>
              </nav>
            </nav>
        </div>
        <div class="col-sm-6">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="#"><h4>Просмотр изображения:</h4></a>
              <nav class="nav flex-column">
                {% for file in testList %}
                    <div id="{{ file }}" style="display: none">
                        <img src="/templates/images/test/{{ file }}" width="100%" height="70%">
                    </div>
                {% endfor %}
              </nav>
            </nav>
        </div>
    </div>
</div>
<div class="btn-group" role="group">
    <button id="addImage" type="button" class="btn btn-success">Добавить</button>
    <button id="delImage" type="button" class="btn btn-danger">Удалить</button>
    <button id="getPred" type="button" class="btn btn-primary" onclick="return location.href = '/program/predict/'+document.getElementById('exampleFormControlSelect2').options[document.getElementById('exampleFormControlSelect2').selectedIndex].value;">Далее</button>
</div>


{% endblock %}